.dropdown__container {
  .dropdown__top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    align-items: center;
    cursor: pointer;
    p {
      color: var(--grey-700);
      cursor: pointer;
    }
    .dropdown__btn {
      border: none;
      padding: 0.2rem;
      width: 100%;
      max-width: 50px;
      border-radius: 5px;
    }
  }
  hr {
    border-color: var(--grey-000);
  }

  .dropdown__container {
    display: none;
  }

  .dropdown__container.active {
    display: flex;
    .dropdown__grid {
      display: grid;
      gap: 0px;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      li{
        list-style-position: inside;
        font-size: 0.9rem;
        color: var(--grey-400);
        background-color: var(--g);
      }
    }
  }
}
