.dropdown__container {


  .dropdown__top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: violet;
  }

  .dropdown__container {
    display: none;
  }

  .dropdown__container.active {
    display: flex;
    flex-direction: column;
    
  }
}
