.checkbox {
  background-color: var(--grey-000);
  border: white;
  border-radius: 5px;
  border-bottom: 1px solid var(--grey-300);
  padding: 0.1rem;
  font-size: 0.9rem;
  color: var(--grey-500);
  &:hover {
    background-color: var(--grey-100);
  }
}

.checkbox.active {
  background-color: var(--secondary-fade);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
