//   Use this to set all the general styling for your application.
.app__container {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.app__container-width {
  width: 95%;
  max-width: 1100px;

  // Smaller screen sizes make it 100%
}

.page {
  padding-top: 126px;
  z-index: -1;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-text {
  color: var(--grey-400);
  font-size: 0.9rem;
  span {
    font-weight: bold;
  }
}

.content__title {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  span {
    background-color: var(--secondary-fade);
    padding: 0.2rem 0.6rem;
    color: var(--secondary-color);
    border-radius: var(--border-radius-1);
  }
}

.bg-grey {
  background-color: var(--grey-100);
}

.head-text {
  width: 100%;
  text-align: center;
  margin-top: 0.2rem;
  font-size: 2rem;
  color: var(--grey-600);
}

.btn {
  &:hover {
  }
}

.btn {
  transition: all ease-in-out var(--timer-short);
  cursor: pointer;
}

.btn.btn-secondary {
  color: white;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 0.9rem;
  width: 100%;
  max-width: 120px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-1);

  &:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

.btn.btn-outline {
  padding: 0.4rem;
  max-width: 150px;
  width: 100%;
  text-decoration: none;
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-1);
  color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    color: white;
  }
}

.btn.btn-white {
  background-color: white;
  padding: 0.5rem 1rem;
  max-width: 200px;
  width: 100%;
  text-decoration: none;
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: var(--border-radius-1);
  color: var(--secondary-color);
  text-align: center;
  &:hover {
    background-color: var(--secondary-color);
    border: 1px solid white;
    color: white;
  }
}

.hr__container {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  i {
    color: var(--dark-grey-color);
  }
  hr {
    width: 100%;
    border: none;
    border-top: 5px solid var(--dark-grey-color);
  }
}

.grid__container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.row {
  display: flex;
  gap: 20px;
}
.input__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  p {
    font-size: 0.85rem;
    color: var(--secondary-color);
    margin-bottom: 0.1rem;
  }

  input,
  textarea {
    border: none;
    border-bottom: 2px solid var(--grey-100);
    padding: 0.2rem;
    font-size: 0.9rem;
    color: var(--grey-400);
    margin-top: 0.1rem;
    width: 100%;
    resize: none;
    outline: none;
    transition: all ease-in-out var(--timer-short);
  }

  input:focus,
  textarea:focus {
    border-color: var(--secondary-color);
  }

  textarea {
    height: 130px;
  }
}

.text-center {
  text-align: center !important;
}

select {
}
