//   Use this to set all the general styling for your application.
.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__container-width {
  width: 95%;
  max-width: 1100px;
  // Smaller screen sizes make it 100%
}

.page {
  padding-top: 3rem;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


.p-text {
}

.head-text {
}

.btn {
  &:hover {
  }
}

.btn{
  transition: all ease-in-out var(--timer-short);
}


.btn.btn-secondary {
  color: white;
  text-decoration: none;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 0.9rem;
  width: 100%;
  max-width: 120px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius-1);

  &:hover {
    background-color: white;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}
